@model WebApplication.Models.ScheduleChange

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ScheduleChange</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginalEntry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginalEntry.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewRoom.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewTeacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewTeacher.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewEndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
